# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime Text
*.sublime-project
*.sublime-workspace

# Latex
*.aux
*.log
*.gz
*.toc
tex/*.pdf

# Eclipse
src/.cproject
src/.project
src/Debug

# Binario del proyecto
dgg

# Misc
grafico.png